.comments-container {
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
    margin: 5% auto;
  }
  
  .comment {
    display: flex;
    gap: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
  }
  
  .avatar {
    flex: 0 0 50px;
  }
  
  .avatar-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
  }
  
  .comment-content {
    flex: 1;
  }
  
  @media (max-width: 768px) {
    .comment {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .avatar {
      margin-bottom: 10px;
    }
  }
  