*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.like{
    text-align: center;
}

.header{
    justify-content: space-between;
    padding: 5px;
    width: 95%;
    margin: 1% auto;
    display: flex;
    background-color:rgb(249 243 243);
}
.header a{
    text-decoration: none;
    color: black;
}
.header a:hover{
    font-weight: bolder;
}
.logo{
    width: 10%;
    text-align: center;
}
.logo img{
    width: 50%;
}
.header nav ul{
    display: flex;
}
.menu{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.menu li{
    text-decoration: none;
}
.menu-left{
    width: 70%;
    margin: auto 1%;
}
.menu-right{
    width: auto;
}
nav li{
    list-style-type: none; 
    margin: auto 10px;
}
.menu{
    width: 100%;
    margin:auto 5%;
    display: flex;
    justify-content: space-around;
}

@media screen and (max-width:740px)
{
    .menu-icon{
        display: block !important;
        font-size: 30px;
        margin: auto 10px;
    }   
    .icons{
        margin: auto 0;
    }
    .menu{
        display: none;
    }
    .logo img{
        width: 90%;
    }
    .logo p{
        display: none;
    }
}